.cloud1 {
  position: absolute;
  max-width: 600px;
  top: 200px;
  left: 0;
  z-index: 50;
  animation: animateCloud 50s linear infinite;
}

.cloud2 {
  position: absolute;
  max-width: 600px;
  top: 400px;
  left: 0;
  z-index: 50;
  animation: animateCloud 35s linear infinite;
}

.cloud3 {
  position: absolute;
  max-width: 600px;
  top: 650px;
  left: 0;
  z-index: 50;
  animation: animateCloud 80s linear infinite;
}

.cloud4 {
  position: absolute;
  max-width: 200px;
  top: 550px;
  left: 0;
  z-index: 50;
  animation: animateCloud 70s linear infinite;
  animation-delay: -20s;
}

.cloud5 {
  position: absolute;
  max-width: 630px;
  top: 450px;
  left: 0;
  z-index: 50;
  animation: animateCloud 40s linear infinite;
  animation-delay: -5s;
}

.cloud6 {
  position: absolute;
  max-width: 500px;
  top: 275px;
  left: 0;
  z-index: 50;
  animation: animateCloud 70s linear infinite;
  animation-delay: -10s;
}

@keyframes animateCloud {
  0% {
    transform: translateX(-100%) scale(1);
  }
  100% {
    transform: translateX(400%) scale(1.5);
  }
}

img {
  pointer-events: none;
}

.scene i {
  position: absolute;
  background: #fafafa;
  border-radius: 50%;
  animation: animate ease-in-out infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
