.dashboard {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
}
/* .weatherview {
      background: rgba(255, 255, 255, 0.1);
    } */
.searchbar {
  padding-left: 50px;
  padding-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-right: 50px;
}

#searchbar {
  font-family: inherit;
  border: none;
  border-bottom: 0.5px solid #424242;
  background: none;
  height: 50px;
  font-size: 1.3rem;
  color: #424242;
  transition: ease-in-out 0.5s;
  opacity: 0.3;
}
#searchbar::placeholder {
  color: #424242;
}

#searchbar:focus {
  border-bottom: 1px solid #424242;
  opacity: 1;
}

.searchicon {
  width: auto;
  height: auto;
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.day,
.tmp,
.weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tmp {
  font-size: 100px;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  margin-bottom: 15px;
}

.weather-icon-box {
  display: flex;
  justify-content: center;
}

.weathericon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  /* background-color: black; */
  position: relative;
}

.weather-icon {
  position: absolute;

  width: 700px;
  height: 700px;
  /* filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)); */
}

.day_box {
  padding: 0 50px;
}

.day {
  border-bottom: 1px solid #fafafa65;
  padding-bottom: 30px;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
}
.weatherdesc {
  padding-top: 30px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.desc-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 50px;
  height: 50px;
}

.desc-icon {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.img-box {
  padding-left: 50px;
}

.city-image {
  width: 310px;
  height: 140px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.171);
}

#city {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.city-name {
  font-family: "GmarketBold";
  position: absolute;
  font-weight: 500;
  font-size: larger;
}
