.dashboard {
  background: #f7f8f3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.dashboard-real {
  height: 90%;
}
/* .weatherview {
      background: rgba(255, 255, 255, 0.1);
    } */
.searchbar {
  margin: 0px 40px 20px 40px;
  position: relative;
  padding-left: 30px;

  /* border: 1px solid black; */
  border-radius: 30px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#searchbar {
  font-family: inherit;
  border: none;
  font-size: 20px;
  background: none;
  height: 50px;
  font-size: 1.3rem;
  color: #7d7d7b;
  transition: ease-in-out 0.5s;
  opacity: 0.3;
}
#searchbar::placeholder {
  color: #424242;
  font-size: 18px;
}

#searchbar::placeholder:focus {
  opacity: 1;
}

.fa-search {
  font-size: 20px;
  color: #7d7d7b;
  margin-right: 20px;
}

/* .searchicon {
  width: auto;
  height: auto;
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
  cursor: pointer;
} */

input:focus {
  outline: none;
}

.day,
.tmp,
.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7d7d7b;
}

.tmp {
  font-size: 100px;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  margin-bottom: 15px;
}

.weather-icon-box {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
}

.weathericon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 30px;
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12); */
  /* background-color: black; */
  position: relative;
}

.weather-icon {
  position: absolute;

  width: 700px;
  height: 700px;
  /* filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)); */
}

.day-box {
  padding: 0 50px;
}

.day {
  border-bottom: 1px solid #fafafa65;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
}

.divide-box {
  padding: 30px 70px;
}

.divide-line {
  height: 7px;
  width: 100%;
  border-radius: 10px;
  box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.9),
    inset 2px 2px 6px rgba(70, 70, 70, 0.12);
}

.weatherdesc {
  padding-left: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #7d7d7b;
}

.desc-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 50px;
  height: 50px;
}

.desc-icon {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

/* .img-box {
  padding: 0px 50px;
}

.city-image {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f8f2;
}

.city-name {
  font-family: "GmarketB";
  font-weight: 500;
  font-size: larger;
  color: #7d7d7b;
}

.city-name img {
  width: auto;
  height: auto;
  max-width: 35px;
  max-height: 35px;
} */

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}

.map-box {
  width: 100%;
  height: 200px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.7),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.kakao-map {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.divide-weatherDashboard {
  height: 90%;
  width: 7px;
  border-radius: 10px;
  box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.9),
    inset 2px 2px 6px rgba(70, 70, 70, 0.12);
}
