.main {
  position: absolute;
  width: 1280px;
  height: 900px;
  background: var(--background-color);
  border-radius: 30px;
  z-index: 10;
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12); */
  box-shadow: 20px 20px 40px rgba(70, 70, 70, 0.12);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0px;
  overflow: hidden;
}

@media screen and (max-width: 1250px) {
  .main {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
  }
  .main-container {
    /* max-height: 100%; */
    height: auto;
    overflow: hidden;
  }
}
@media screen and (max-width: 550px) {
  .main {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
  }
  .main-container {
    padding: 30px;
    overflow: hidden;
  }
}

.main-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f7f8f3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px; */
}

@keyframes wave {
  0%,
  100% {
    border-radius: 66% 34% 37% 63%/ 57% 31% 69% 43%;
  }
  50% {
    border-radius: 26% 74% 51% 49% / 22% 53% 47% 78%;
  }
}

.food-image {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}
