.scene {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* .shape:nth-child(1) img {
  top: 380px;
  left: -120px;
  position: absolute;
  width: 100px;
  height: 100px;
  /* animation: wave 8s ease-in-out infinite; */
/* background-color: #9ba9ff;
  z-index: 3;
} */

#blob-image {
  width: 1000px;
  height: 1000px;
  top: 400px;
  left: -200px;
  position: absolute;
}

@keyframes wave {
  0%,
  100% {
    border-radius: 66% 34% 37% 63%/ 57% 31% 69% 43%;
  }
  50% {
    border-radius: 26% 74% 51% 49% / 22% 53% 47% 78%;
  }
}

.shape:nth-child(2) {
  position: absolute;
  top: 600px;
  left: -250px;
  width: 900px;
  height: 900px;
  animation: wave 10s ease-in-out infinite;
  background-color: #fbe24c;
  transform: rotate(200deg);
}

/* .shape:nth-child(4) {
  position: absolute;
  top: 200px;
  left: 1530px;
  width: 50px;
  height: 50px;
  animation: wave 6s ease-in-out infinite;
  background-color: #b9b5ff;
} */

.person {
  position: absolute;
  top: 450px;
  right: -60px;
  width: auto;
  height: auto;
  max-width: 650px;
  max-height: 650px;
  transform: rotate(7deg);
  animation: person 12s ease-in-out infinite;
}

@keyframes person {
  0% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(7deg);
  }
}

.persen2 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 350px;
  max-height: 350px;
  top: 50px;
  animation: person2 5s ease-in-out infinite;
}

@keyframes person2 {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

#menu-bar {
  width: auto;
  height: auto;
  max-width: 35px;
  max-height: 35px;
  position: absolute;
  right: 50px;
  top: 30px;
}
