@import url("./scene.css");
@import url("./main.css");
@import url("./dashboard.css");
@import url("./weatherView.css");

@font-face {
  font-family: "GmarketL";
  src: url("./GmarketSansTTF/GmarketSansTTFLight.ttf");
}

@font-face {
  font-family: "GmarketB";
  src: url("./GmarketSansTTF/GmarketSansTTFBold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  font-family: "GmarketL";
}

:root {
  --background-color: #c1f0e4;
  --font-color: #fafafa;
  --box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.4),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}
