.weatherview {
  padding: 35px 55px;
}

.page-change {
  font-family: "GmarketB";
  display: flex;
  font-size: 25px;
  margin-bottom: 30px;
}

.weather-change-button {
  margin-right: 20px;
  opacity: 0.5;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  padding: 15px;
  border-radius: 15px;
}

.weather-change-button:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 15px rgba(70, 70, 70, 0.4);
}

.Food-change-button {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  padding: 15px;
  border-radius: 15px;
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.7),
    10px 10px 15px rgba(70, 70, 70, 0.2); */
}

.Food-change-button:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 15px rgba(70, 70, 70, 0.4);
}

.week-weather {
  height: 150px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 7px;
  color: #0c0c0c;
  margin-bottom: 60px;
}

.weekly-weather-box {
  background: #f7f8f2;
  /* border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.7),
    6px 6px 10px rgba(70, 70, 70, 0.12);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.weekly-weather-box:hover {
  transform: translateY(-5px);
}

.weakly-icon {
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 50px;
  margin: 13px 0px;
}
.weekly-day {
  font-size: 22px;
}

.rec-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #7d7d7b;
}

.menus {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.menu {
  padding: 50px;
  display: flex;
}

.menu-one {
  background: #f7f8f2;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.7),
    10px 10px 15px rgba(70, 70, 70, 0.4);
  cursor: pointer;
  width: 370px;
  height: 370px;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  border-radius: 20%;
}

.menu-one img {
  border-radius: 20%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.button {
  /* border: 1px solid black; */

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-right,
.button-left {
  background: #f7f8f2;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.7),
    6px 6px 10px rgba(70, 70, 70, 0.12);
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.button-left:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.7),
    inset 7px 7px 15px rgba(70, 70, 70, 0.2);
}

.button-right:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.7),
    inset 7px 7px 15px rgba(70, 70, 70, 0.2);
}

#leftbutton {
  transform: rotate(180deg);
}

.show-change {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}

.show-circle {
  margin-top: 20px;
  border: 1px solid #7d7d7c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.center-cirle {
  margin-left: 10px;
  margin-right: 10px;
}

.left-circle {
  background-color: #7d7d7c;
}
