.weatherview {
  padding: 35px 50px;
}

.page-change {
  font-family: "GmarketB";
  display: flex;
  font-size: 25px;
  margin-bottom: 30px;
}

.change-button {
  margin-right: 20px;
  opacity: 0.5;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  padding: 15px;
  border-radius: 15px;
  box-shadow: -10px -10px 7px rgba(255, 255, 255, 0.9),
    10px 10px 10px rgba(70, 70, 70, 0.2);
}

.change-button:hover {
  box-shadow: -10px -10px 7px rgba(255, 255, 255, 0),
    10px 10px 10px rgba(70, 70, 70, 0),
    inset -10px -10px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 15px rgba(70, 70, 70, 0.4);
}

.Food-change-button {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  padding: 15px;
  border-radius: 15px;
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.7),
    10px 10px 15px rgba(70, 70, 70, 0.2); */
}

.Food-change-button:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 15px rgba(70, 70, 70, 0.4);
}

.week-weather {
  height: 150px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 7px;
  color: #0c0c0c;
  margin-bottom: 60px;
}

.weekly-weather-box {
  background: #f7f8f3;
  /* border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.7),
    6px 6px 10px rgba(70, 70, 70, 0.12);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.weekly-weather-box:hover {
  transform: translateY(-5px);
}

.weekly-icon-box {
  width: 50px;
  height: 50px;
  /* max-height: 100px;
  max-width: 100px; */
  margin: 13px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekly-icon {
  position: absolute;
  width: 100%;
  height: 100%;
}
.weekly-day {
  font-size: 22px;
}

.rec-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #7d7d7b;
}

.menus {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.menu {
  padding: 40px;
  display: flex;
  position: relative;
}

.menu-one {
  background: #f8f8f3;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.4);
  cursor: pointer;
  width: 370px;
  height: 370px;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  transition: 0.4s ease-in-out;
}

.menu-one:hover {
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0),
    10px 10px 15px rgba(70, 70, 70, 0),
    inset -10px -10px 10px rgba(255, 255, 255, 0.7),
    inset 10px 10px 15px rgba(70, 70, 70, 0.4);
}

.menu-one img {
  border-radius: 20%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
}

.food-name {
  position: absolute;
  top: 30px;
  left: -120px;
  font-size: 40px;
  color: #7d7d7b;
  font-family: "GmarketB";
  opacity: 0.3;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.menu-one:hover .food-name {
  transform: translateX(150px);
}

/* .food-bubble {
  width: 200px;
  height: 100px;
  position: absolute;
  background: #f5f6f2;
  border-radius: 0.4em;
  bottom: 480px;
  right: 30px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.7),
    10px 10px 15px rgba(70, 70, 70, 0.4);
}

.food-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 46px solid transparent;
  border-right-color: #f5f6f2;
  border-left: 0;
  border-bottom: 0;
  margin-top: -23px;
  margin-left: -46px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.7),
    10px 10px 15px rgba(70, 70, 70, 0.4);
} */

.button {
  /* border: 1px solid black; */

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-right,
.button-left {
  background: #f8f8f3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.7),
    6px 6px 10px rgba(70, 70, 70, 0.12);
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.button-left:hover {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0),
    7px 7px 15px rgba(70, 70, 70, 0),
    inset -10px -10px 15px rgba(255, 255, 255, 0.7),
    inset 7px 7px 15px rgba(70, 70, 70, 0.2);
}

.button-right:hover {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0),
    7px 7px 15px rgba(70, 70, 70, 0),
    inset -10px -10px 15px rgba(255, 255, 255, 0.7),
    inset 7px 7px 15px rgba(70, 70, 70, 0.2);
}

#leftbutton {
  transform: rotate(180deg);
}

.show-change {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}

.show-circle {
  margin: 0px 7px 0px 7px;
  /* border: 1px solid #7d7d7c; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 1),
    6px 6px 10px rgba(70, 70, 70, 0.3);
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-circle {
  width: 100%;
  height: 100%;
  background-color: #7d7d7c;
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.center-cirle {
  margin-left: 10px;
  margin-right: 10px;
}

.weather-detail-box {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  color: #7d7d7b;
  display: none;
  margin-top: 47px;
}

.desc-title {
  font-family: "GmarketB";
}

.weather-detail {
  background: #f8f8f3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.7),
    6px 6px 10px rgba(70, 70, 70, 0.12);
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.weather-detail:hover {
  transform: translateY(-5px);
}

.detail-desc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  /* line-height: 30px; */
}

.detail-icon {
  width: 100px;
  height: 100px;
}

.menu-image {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1250px) {
  .divide-weatherDashboard-media {
    height: 90%;
    width: 7px;
    border-radius: 10px;
    box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.9),
      inset 2px 2px 6px rgba(70, 70, 70, 0.12);
  }
  .weatherview {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .page-change {
    margin-top: 0px;
  }
  .week-weather {
    margin: 0px 5px 50px 5px;
  }
}

@media all and (max-width: 600px) {
  .weatherview {
    padding-top: 0px;
    margin-top: 0px;
    height: 120%;
  }
  .page-change {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .weather-change-button {
    margin-right: 0px;
  }

  .week-weather {
    height: 110px;
    margin-bottom: 30px;
  }

  .weekly-weather-box {
    padding: 0px 3px;
  }

  .weekly-day {
    font-size: 17px;
  }
  .weekly-icon-box {
    width: 30px;
    height: 30px;
  }
  .phone-size-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rec-title {
    font-size: 20px;
  }
  .menu-one img {
    width: 150px;
    height: 150px;
  }
  .menu-one {
    width: 180px;
    height: 180px;
  }
  .menu {
    padding: 0px 0px 20px 0px;
  }
  .button-right,
  .button-left {
    width: 30px;
    height: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #rightbutton,
  #leftbutton {
    width: 15px;
    height: 15px;
  }

  .weather-detail-box {
    min-height: 280px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-top: 10px;
  }

  .weather-detail {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .weather-detail:hover {
    transform: translateY(-5px);
  }

  .detail-desc {
    display: flex;

    font-size: 15px;
    /* line-height: 30px; */
    margin: 0px;
  }

  .detail-icon {
    width: 70px;
    height: 70px;
  }

  .menu-image {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .food-name {
    top: 15px;
    left: -120px;
    font-size: 20px;
    color: #7d7d7b;
    font-family: "GmarketB";
    opacity: 0.3;
    z-index: 10;
    transition: 0.5s ease-in-out;
  }

  .menu-one:hover .food-name {
    transform: translateX(135px);
  }

  /* ------------------------------ */
}
